  .hogwarts {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }

  .title-banner {
    color: #11171D;
    display: inline-block;
    padding: 0.2em 0; 
    margin-top: 1em; 
    font-family: 'Orelega One', cursive;
    font-weight: bold; 
    
    background-image: linear-gradient(
      to bottom,
      #FFFFFF 60%,
      #FFC107 60% 
    );
    line-height: 1;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    color: #333333;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    width: 100%;
    justify-content: center; 
  }
  
  .card {
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding-top: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100%; 
    height: 100%;
    height: 133px;
    min-width: 360px;   
    max-width: 360px;
 }

  .badge {
    position: absolute;
    top: 3px;
    right: 10px; 
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    font-size: 11px;
    font-weight: 400;
    width: 91px;
  }

  .arrival-date-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .name {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .description {
    font-weight: 400;
    font-size: 17px;
    Width:227px;
    Height:59px;
  }

  .h2{
    font-weight: 800;
    size: 20px;
    line-height: 24px;
  }

  .arrival-date {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #484848;
    margin: 0;
  }
   
  .card-body {
    padding-top: 0; 
  }
  
  